#test{
    font-family: 'arial';
    color: hotpink;
}
body{
    background-color: aquamarine;
}
#linkcolor{
    color: darkblue;
}
#watlinkcolor{
    color: darkblue;
}
#spilinkcolor{
    color: darkblue;
}
#inclinkcolor{
    color: darkblue;
}
#prolinkcolor{
    color: darkblue;
}
#agilinkcolor{
    color: darkblue;
}
#itelinkcolor{
    color: darkblue;
}
#radlinkcolor{
    color: darkblue;
}
#biglinkcolor{
    color: darkblue;
}
#vlinkcolor{
    color: darkblue;
}#test{
    font-family: 'arial';
    color: hotpink;
}
body{
    background-color: aquamarine;
}

