h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }